h1, h2, h3, h4, h5, body {
    font-family: 'Montserrat', sans-serif !important;
}
body
.guides {
    /*background-color: #e6e6e6;*/
    padding: 32px;
    padding-left:  0px;
}
.guides.manual-guides {
    padding: 0;
    /*background: #fff;*/
}

.guides .guides_left {flex:  1;display:  flex;padding-right:  32px;}
.guides .guides_left.d-none {
    display: none;
}
.guides .guides_cont {
    /* flex: 1; */
    display: flex;
    max-width: 1034px;
    /*background-color: white;*/
    padding: 32px;
    width:  100%;
}
.guides.manual-guides .guides_cont {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 100%;
    max-width: 100%;
}

/*Sidebar*/

main.content--page {
	padding-top: 70px;
	margin-top: 0;
}

#body_cnt.container {
	max-width: 100%;
	padding-left: 0;
}

.guides-sidebar {
	position: absolute;
	top: 0;
	height: 100%;
	width: 219px;
	background: #ffd200;
}

.guides-sidebar__list {
	/* position: fixed;
	top: 107px;
	left: 0; */
	width: 219px;
	/* height: 100vh; */
	margin: 0;
	/* padding-top: 17px; */
	padding-left: 0;
	list-style: none;
	/* background-image: linear-gradient(207.5deg, #FFB444 -9.84%, rgba(255, 164, 28, 0) 100.04%), linear-gradient(to top, #F77121, #F77121); */
}

.guides-sidebar__item {
	border-bottom: 1px solid #ffffff;
}

.guides-sidebar__link {
	width: 100%;
	display: block;
	padding: 1rem 30px;
	font-family: 'Gilroy-Bold';
    font-weight: 700;
	text-decoration: none;
	color: #000000;
	/* background-image: linear-gradient(207.5deg, #FFB444 -9.84%, rgba(255, 164, 28, 0) 100.04%), linear-gradient(to top, #F77121, #F77121); */
	background: #ffd200;
	transition: all ease 0.32s;
}

.guides-sidebar__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.guides-sidebar__link.active {
	box-shadow: inset 4px 0px 0px 0px white;
    background-color: hsla(0, 0%, 100%, 0.16);
}

.guides-sidebar__link:hover {
	text-decoration: none;
	color: #000000;
	background: #ffd81f;
	box-shadow: 0px 20px 30px rgba(52, 65, 84, .1), 0px 4px 10px rgb(0, 0, 0, .1);
}

.guides.manual-guides .guides_cont {
	/*Sidebar
	margin: 0 auto;
    padding: 0;
    display: block;
    width: 100%;
	max-width: 100%;*/
	/*Sidebar*/
	width: calc(100% - 230px);
	min-height: 700px;
	margin-left: 240px;
	flex: 1;
}

/*Sidebar END*/



.manual-guides__wrap {
    max-width: 94rem;
    /* margin: 0 auto; */
}

ul.guideLeftMenu {
    padding-left:  0px;
}

ul.guideLeftMenu li {
    list-style:  none;
}

ul.guideLeftMenu li a {
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    display:  inline-block;
    line-height: 40px;
    padding-left: 40px;
    /* box-shadow: inset 3px 0px 0px 0px red; */
    color: rgba(72, 86, 93, 0.64);
    transition: all ease 0.32s;
    text-decoration:  none;
}

ul.guideLeftMenu li a:hover {
    color: #495862;
}

ul.guideLeftMenu li a.active {
    box-shadow: inset 4px 0px 0px 0px #495862;
    color:  #495862;
}

.guides .wrap {
    align-items:  stretch;
}

code.language-markup {
    padding: 8px !important;
    width:  100% !important;
    display:  block;
    padding-top:  0px !important;
}

.guides .guides_cont .e_page {
    width:  100%;
}

pre.language-markup {
    margin: 24px 0px !important;
    padding-top:  0px !important;
    margin-top:  24px !important;
    margin-bottom:  32px !important;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #d9d9d9;
}

.e_page > .title-1 {
    font-size:  24px;
    line-height:  32px;
    font-family:  Tahoma;
    font-weight:  bold;
    color: #495761;
    padding-left:  32px;
    border-left: 4px solid #ffd411;
    margin-bottom:  32px;
}

.e_page >  .title-2 {
    font-size: 18px;
    line-height: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #495761;
}

.e_page >  .title-3 {
    font-size: 16px;
    line-height: 24px;
    color: #545454;
}

.e_page >  .title-4 {
    font-size: 14px;
    line-height: 20px;
    color: #545454;
}


.guides_cont .colors  {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.colors .row {
    margin: 16px 0px;
    align-items:  center;
}

.colors .row .coll {
    width:  128px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.guides_cont .title-2 span.subtext {
    display: block;
    font-weight: 400;
    font-size: 15px;
}
.colors-container {
    margin-bottom: 48px;
}
.colors .row .coll.t_p14.text {
    margin: 10px auto;
}
.colors .row .coll .colorCube {
    width: 128px;
    height: 80px;
    margin: 0 auto;
}
.colors .row .coll.t_p16 {
    font-weight: 700;
}
.colors .row .coll.t_p14 .colorCube span {
    font-size: 12px;
    text-align: center;
    display: table;
    padding-top: 24px;
}
.js-kladovoy-body .manual-guides__wrap {
    padding-left: 1rem;
    padding-right: 1rem;
}
.manual-code__wrap {
    display: none;
}
.js-delans-body .manual-code-efsol,
.js-sauri-body .manual-code-efsol,
.js-mcob-main .manual-code-efsol,
.js-42clouds-body .manual-code-efsol,
.js-kladovoy-body .manual-code-efsol {
    display: none;
}
.js-delans-body .--manual-code-delans,
.js-sauri-body .--manual-code-sauri,
.js-mcob-main .--manual-code-mcob,
.js-42clouds-body .--manual-code-42clouds,
.js-kladovoy-body .--manual-code-kladovoy {
    display: block;
}
.js-sauri-body .manual-guides {
    padding: 0 16px;
}
.js-42clouds-body .manual-guides {
    padding: 1rem 15px;
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
}


/*Styles Page*/

.styles-table {
	width: 60%!important;
	border-collapse: separate;
	border-spacing: 0 10px;
}

table.styles-table td {
	border: none!important;
    padding: 0!important;
    text-align: left!important;
    vertical-align: middle;
}

.styles-color {
	display: block;
	width: 32px;
	height: 32px;
}
.main-colors .styles-color{
    margin-bottom: 12px;
    margin-top: 12px;
}

.main-colors .styles-color.first {
	background-color: #ffd200;
}

.main-colors .styles-color.second {
	background-color: #0f0f0f;
}

.main-colors .styles-color.third {
	background-color:#323a45;
}

.main-colors .styles-color.fourth {
	background-color: #e8e9ea;
}

.additional-colors .styles-color.first {
	background-color: #575965;
}

.font-colors .styles-color.first {
	background-color: #0f0f0f;
}

.font-colors .styles-color.second {
	background-color: #ffd200;
}

.font-colors .styles-color.third {
	background-color: #f3f3f9;
	border: 1px solid #d9d9d9;
}

.back-colors .styles-color.first {
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
}

.back-colors .styles-color.second {
	background: #f3f3f9;
}

/*Styles Page END*/

/*Typography Page*/

.typography-content .h1,
.typography-content .h3-yellow-small.grey-figure {
	position: relative;
	font-family: "Montserrat", "sans-serif"!important;
	font-size: 48px;
    margin-top: 48px;
	background: 0 0;
	color: #0f0f0f;
    margin-bottom: 40px;
    font-weight: 700;
	text-align: left;
	text-transform: unset!important;
}

.typography-content .h1.mt-0{
	width: 90%;
    margin: 0 auto;
    margin-top: 0!important;
	font-size: 20px!important;
}
.typography-content .h2{
    position: relative;
    font-family: "Montserrat", "sans-serif"!important;
    font-size: 36px!important;
    margin-top: 48px!important;
    background: 0 0!important;
    color: #0f0f0f;
    margin-bottom: 40px!important;
    font-weight: 700!important;
    text-align: left!important;
    text-transform: unset!important;
    padding: 0 30px !important;
}
.typography-content .h2::before {
    content: '';
    position: absolute !important;
    width: 81px;
    height: 33px;
    left: 43px;
    top: 1px;
    z-index: 0;
    /* opacity: 0; */
    -webkit-transition: all .5s cubic-bezier(.42, 0, .58, 1);
    -moz-transition: all .5s cubic-bezier(.42, 0, .58, 1);
    -o-transition: all .5s cubic-bezier(.42, 0, .58, 1);
    transition: all .5s cubic-bezier(.42, 0, .58, 1);
    -webkit-transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    -moz-transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    -o-transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}
.typography-content .h2::after{
    flex: none !important;
    min-width: 0;
}
.typography-content .h2 span{
    background-color: transparent !important;
}

.typography-content .h1.mt-0::before{
	content: "";
    position: absolute;
    display: block;
    width: 1.1em;
    height: 1.15em;
    left: 0;
    top: .09em;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
    background: #ffd200;
}

.typography-content .h3-yellow-small.grey-figure {
	width: 90%;
	margin: 0 auto;
	margin-top: 0!important;
}

.typography-content .full-opacity {
	opacity: 1;
}

.typography-content .h1::before {
	content: '';
	position: absolute;
    width: 81px;
    height: 41px;
    left: 43px;
    top: -5px;
    z-index: 0;
    /* opacity: 0; */
    -webkit-transition: all .5s cubic-bezier(.42, 0, .58, 1);
    -moz-transition: all .5s cubic-bezier(.42, 0, .58, 1);
    -o-transition: all .5s cubic-bezier(.42, 0, .58, 1);
    transition: all .5s cubic-bezier(.42, 0, .58, 1);
    -webkit-transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    -moz-transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    -o-transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}

.typography-content .h1::before, .typography-content .h2::before,
.typography-content .h3-yellow-small::after {
    background: url('../../public/images/h1.svg') no-repeat;
}

.typography-content .h3-yellow-small.grey-figure {
	position: relative;
	font-size: 24px!important;
    margin-top: 0;
    background: 0 0;
    position: relative;
    z-index: 1;
}

.typography-content .h3-yellow-small.grey-figure::after {
	content: "";
    position: absolute;
   width: 25px;
    height: 24px;
    left: 2px;
    top: 4px;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    background: #ffd200;
}

.typography-content .h1 span,
.typography-content .h3-yellow-small span{
	position: relative;
	font-size: unset!important;
	background: transparent;
    z-index: 1;
}

.typography-content .typography-p .desc p{
	font: 14px/130% 'Montserrat', sans-serif!important;
}

.typography-content ul.efsol_goldUL li:after {
    background: url('../../public/images/goldUL.svg') no-repeat;
    background-size: contain;
}

.typography-content ul.efsol_goldUL.mb-40 li:after{
	content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 5px;
    width: 10px;
    height: 10px;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
	background: #ffd200;
	border-radius: 0;
}

.typography-content ul.efsol_goldUL.mb-40.grey--bg li:after {
	background: #d0d4d9;
}

.typography-content ul.efsol_goldUL > li > ul {
	margin-left: 0;
}

.guide-manual-section__demo-content .efsol_goldUL {
	padding: 0;
    margin-left: 20px;
}

/* .guide-manual-section__demo-content ul.efsol_goldUL li::before {
	content: "";
	display: block;
	position: absolute;
	background: #d0d4d9;
	width: 8px;
	height: 8px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-webkit-transform: skew(0);
	-moz-transform: skew(0);
	-o-transform: skew(0);
	transform: skew(0);
	left: 0;
	/*top: 5px;
    margin-top: 10px;
    margin-left: 15px;
} */
.guide-manual-section__demo-content ul.efsol_goldUL li{
    list-style-type: none;
    font-size: 14px;
    line-height: 1.75rem;
    margin-bottom: 10px;
}

/*Typography Page END*/

/*UI Page*/

.ui-content .ui-buttons a,
.ui-content .ui-buttons button {
	margin-right: 1.5em;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #0f0f0f;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn__link {
	font: 700 17px/24px 'Montserrat',sans-serif;
    padding: 11px 48px;
    border: 3px solid #ffd200;
    border-radius: 0;
	position: relative;
	letter-spacing: .5px;
    text-decoration: none;
    -webkit-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}

.btn__link:hover {
	text-decoration: none;
	opacity: 1;
	/*-webkit-box-shadow: 0 0 30px 0 rgba(55, 20, 176, .2);
	-moz-box-shadow: 0 0 30px 0 rgba(55, 20, 176, .2);*/
	/*box-shadow: 0 0 30px 0 rgba(55, 20, 176, .2)*/
}

.b__button_yellow {
	/*box-shadow: -1px 8px 15px 0*/ rgba(55, 20, 176, .12);
    font: 700 17px/24px 'Montserrat',sans-serif;
    padding: 11px 48px;
    background: #ffd200;
    border-radius: 0;
    position: relative;
    transition: all ease-out .3s;
    overflow: hidden;
}

.b__button_yellow.bg-green {
	color: #ffffff;
	background: #03b46c;
    border-radius: 0;
    position: relative;
    transition: all ease-out .3s;
    overflow: hidden;
}

.b__button_yellow:hover {
	/*-webkit-box-shadow: 0 0 30px 0 rgba(55, 20, 176, .2);*/
   /* -moz-box-shadow: 0 0 30px 0 rgba(55, 20, 176, .2);*/
    /*box-shadow: 0 0 30px 0 rgba(55, 20, 176, .2)*/
    background: #efc608;
}

.b__button_yellow.bg-green:hover {
	color: #ffffff;
	background: #02a261;
}

.b__button_yellow.btn-L {
	padding: 0 4rem;
	height: 4.5rem;
}

.modal-content {
	font-family: 'Montserrat', sans-serif;
	border-radius: 0;
    border: none;
    -moz-box-shadow: 8px 0 4px rgba(55,20,176,.12);
    box-shadow: 8px 0 4px rgba(55, 20, 176, .12);
    padding: 48px;
}

.modal-header {
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: none;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-header .h3-yellow-small {
	color: #0f0f0f;
	margin-bottom: 1.5rem;
	margin-top: 0!important;
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif!important;
	text-transform: none!important;
	font-size: 24px!important;
    text-align: left;
    font-weight: 700;
    background: 0 0;
    position: relative;
    z-index: 1;
}

.modal-header .h3-yellow-small::after{
	content: "";
    position: absolute;
    background: url('../../public/images/h1.svg') no-repeat;;
    width: 40px;
    height: 20px;
    left: -14px;
    top: 5px;
    z-index: -1;
    background-size: cover;
}

.modal-header .close span img{
	width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    -webkit-transition: -webkit-transform .6s;
    -moz-transition: -moz-transform .6s;
    -ms-transition: -ms-transform .6s;
    -o-transition: -o-transform .6s;
    transition: transform .6s;
}

.modal-header .close span img:hover {
	-webkit-transform: rotate(360deg) scale(1.1);
	-moz-transform: rotate(360deg) scale(1.1);
	-ms-transform: rotate(360deg) scale(1.1);
	-o-transform: rotate(360deg) scale(1.1);
	transform: rotate(360deg) scale(1.1);
	-webkit-transition: -webkit-transform .6s;
	-moz-transition: -moz-transform .6s;
	-ms-transition: -ms-transform .6s;
	-o-transition: -o-transform .6s;
	transition: transform .6s;
}

.modal-body {
	position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	padding: 0;
    border: none;
}

.modal-body form {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.modal-body .form-control{
	background-color: #f3f3f9;
	min-height: 40px;
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal-body .personal__data a {
	transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    color: #626da7;
    text-decoration: underline;
    opacity: 1;
    word-break: break-word;
}

.modal-footer {
	padding: 0;
	border: none;
}

.ui-modal .goldBTN {
	min-width: 200px;
}

.ui-inputs {
	display: flex;
	align-items: center;
}

.ui-inputs .form-control {
	max-width: 300px;
	margin-right: 1.5em;
	color: #f3f3f9;
    background-color: #0f0f0f;
    border: 1px solid #49494a;
    border-radius: 0;
    font-size: 14px;
}

.ui-inputs .form-control:focus {
	background-color: #0f0f0f;
	border-color: #ffd200;
	box-shadow: none;
	color: #fff;
}

.ui-inputs.modal-inputs fieldset {
	margin-right: 20px;
}

.ui-inputs.modal-inputs fieldset .form-control {
	min-width: 287px;
	background-color: #f3f3f9;
    border: none;
    min-height: 52px;
    color: #000;
    box-sizing: border-box;
}

.ui-tabs .wrap-all {
	width: 100%;
}

.ui-tabs .tabs,
.tabs-content-wrap {
	width: 100%;
}

.ui-tabs .tabs li::after {
	display: none;
}
/*UI Page END*/

/*Icons Page*/

.icons-content .icons-wrap.first {
	font-family: 'Montserrat', sans-serif;
}

.icons-content .icons-wrap.first .h3-yellow-small {
	position: relative;
	margin-top: 0!important;
	margin-bottom: 24px;
	color: #0f0f0f;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px!important;
    font-weight: 700;
	text-align: left;
	text-transform: none;
	z-index: 1;
}

.icons-content .icons-wrap.first .h3-yellow-small::after {
	content: "";
    width: 40px;
    height: 20px;
    left: -14px;
	top: 0;
	position: absolute;
    background: url('../../public/images/h1.svg') no-repeat;
    z-index: -1;
    background-size: contain;
}


.icons-content .mb-48,
.icons-content .mx-48 {
	margin-bottom: 48px;
}
.icons-content .mb-48 img{
    width: 50px;
    height: 50px;
    float: right;
}
@media (max-width:  569px){
    .icons-content .mb-48 img{
        float: left;
        margin-bottom: 10px !important;
    }
}
.icons-content .icons-wrap.second p {
	/*padding-top: 16px !important;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-content .icons-wrap.third .desc--etaps .k-desc--etaps_title+p {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
    line-height: 140%;
    margin: 0 0 24px;
	border: none;
}

.icons-content .icons-wrap.third .desc--etaps .k-desc--etaps_title {
	padding-top: 16px;
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

/*Icons Page END*/

/* Instruction page*/

.u-manuals-page__title {
	font-size: 48px;
    line-height: 3rem!important;
    font-weight: 700;
    margin: 0;
    margin-bottom: 3rem!important;
    padding-bottom: 1.5rem!important;
    border-bottom: 2px solid #EAEAEA;
    margin-top: 1rem;
    color: #0f0f0f!important;
    font-family: 'Montserrat', sans-serif!important;
    background: none;
    text-align: left;
    padding: 0;
}
.u-manuals-page__title2 span{
    font-size: 36px !important;
    text-transform: none;
}
.u-manuals-page__title3 span{
    font-size: 24px !important;
    text-transform: none;
}

/*Instruction page END*/

/*Content page */
/*Content page END*/

/*News&Articles page*/

.news-articles__content .tm-manual_title {
	background: url('../../public/images/h2_bg.png') 0 18px repeat-x;
	text-align: center;
}

.news-articles__content .guide-manual-section__demo-content,
.news-articles__content .guide-manual-section__demo-content,
.news-articles__content .guide-manual-section__demo-content,
.news-articles__content .guide-manual-section__demo-content  {
	font-family: 'Helvetica', sans-serif;
}

.news-articles__content li.list__item.--marks::before {
	background: #ababab;
}

.news-articles__content li.list__item.--marks a {
	text-decoration: underline;
}

.news-articles__content li.list__item.--marks a:hover {
	text-decoration: none;
}

.guide-manual-section__demo-content .list.list--goldIncline > li::before {
	display: block;
	width: 10px;
	height: 10px;
	transform: skew(-45deg);
	background: #ffd200;
	border-radius: 0;
	left: 4px;
}

#content .guide-manual-section__demo-content .popularServicesTable tbody tr td {
	border: 0;
    border-top: 1px solid #ddd;
	padding: 16px;
}

.guide-manual-section__demo-content .popularServicesTable tbody tr:nth-of-type(2n+1) {
	background: #f9f9fc;
}

.guide-manual-section__demo-content  .popularServicesTable tbody tr:nth-of-type(2n) {
	background: #f3f3f9;
}

.guide-manual-section__demo-content  .popularServicesTable tbody tr {
	transition: .5s;
}

.guide-manual-section__demo-content  .popularServicesTable tbody tr:hover {
	filter: contrast(1.2);
}

.guide-manual-section__demo-content .list > li::before {
	content: "";
	position: absolute;
	width: 0.5rem;
	height: 0.5rem;
	left: 0;
	top: 0.5rem;
	background: #ffd200;
	border-radius: 50%;
}
.indent{
    padding-left: 0;
    list-style: none;
    counter-reset: li;
    position: relative;
    counter-reset: li;

}
.guide-manual-section__demo-content .list.list--goldIncline.indent > li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    color: #0f0f0f;
    font-weight: 700;
    z-index: 1;
    font-size: 18px;
    width: 12px !important;
    background: none !important;
    transform: skew(0deg) !important;
}
.list-2{
    list-style: none;
    padding: 0;
}
.list-2 > li {
    position: relative;
    padding-left: 20px !important;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
}
.list-2 > li:after {
    background: none !important;
}


.indent li{
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 0;
    padding-left: 40px;
}


ol.indent li:after {
   content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
    background: #ffd200;
    z-index: 0;
    left: 0;
    top: 2px;
}
ul.ind li:before{
content: "" !important;
counter-increment: none;
width: 0.5rem !important;
    left: 0 !important;
    top: 0.5rem !important;
}
.ind{
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    padding-left: 2px;
}
.guide-manual-section__demo-content .list-2 > li::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    left: 0;
    top: 0.5rem;
    background: #d0d4d9 !important;
    border-radius: 50%;
}
.news-articles__content .guide-manual-section__h4 {
	margin-top: 24px!important;
	margin-bottom: 16px!important;
	font-family: "Open Sans", sans-serif;
	font-size: 1.14em !important;
	font-weight: 700;
	line-height: 1.3;
	color: #0f0f0f!important;
}

.news-articles__content .row h3,
.news-articles__content .guide-manual-section__h3 {
	font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    padding-left: 24px;
    border-left: 0;
    border-left: 3px solid #f9d205;
}

.news-articles__content .guide-manual-section__example {
	margin-top: 24px!important;
	margin-bottom: 16px!important;
	font-family: "Open Sans", sans-serif;
	line-height: 1.3;
	font-size: 1.07em !important;
	font-weight: 600;
	color: #0f0f0f;
}

.news-articles__content .guide-manual-section__example.--red-color {
	color: #EB5757!important;
}

.news-articles__content .guide-manual-section__demo-content .u-tabgrid__line.--col-5 {
	grid-template-columns: 1fr repeat(4, 1fr);
}

.news-articles__content .guide-manual-section__demo-content .conclusion {
	position: relative;
	margin-top: 45px!important;
	padding: 2rem;
    border: 5px solid #f3f3f9;
}

.news-articles__content .guide-manual-section__demo-content .conclusion .h2-new {
	position: absolute;
	top: -4rem;
	padding: 1.5rem 1.5rem 0;
	background: #ffffff;
	display: inline-block;
	font-weight: 700;
	font-size: calc((100vw - 320px) / (1920 - 320) * (32 - 20) + 20px);
	line-height: 1.2;
}

.news-articles__content .guide-manual-section__demo-content .conclusion .h2-new span {
    margin-bottom: 0;
    display: block;
    margin-top: 1rem;
    letter-spacing: 0;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
    max-width: 38rem;
    text-transform: none;
    opacity: 0.56;
}

.news-articles__content .guide-manual-section__demo-content .tabs-row .nav-pills {
	display: flex;
}

.news-articles__content .guide-manual-section__demo-content .fade.show {
	opacity: 1;
}

.news-articles__content .guide-manual-section__demo-content .font-wt-700 {
	font-weight: 700!important;
}
.news-articles__content .guide-manual-section__demo-content .font-17 {
	font-size: 17px!important;
}

.news-articles__content .guide-manual-section__demo-content .nav-link:hover {
	text-decoration: underline;
}

.news-articles__content .guide-manual-section__demo-content .nav.flex-column {
	display: flex;
}

.news-articles__content .guide-manual-section__demo-content .b-icon_content_block-svg {
	position: relative;
	top: -5px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 168px;
    height: 24px;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.news-articles__content .guide-manual-section__demo-content .--side .stroke .--left {
	display: flex;
	align-items: center;
}

.news-articles__content .guide-manual-section__demo-content .b-icon_content_block-svg svg {
    position: absolute;
    width: 7px;
    height: 14px;
    bottom: 0;
	left: 0;
}

.news-articles__content .guide-manual-section__demo-content .b-icon_content_block-svg .b-icon_type_svg:nth-child(2) {
    left: -15rem;
}

.news-articles__content .guide-manual-section__demo-content .anotationText-1 {
	position: relative;
	border-left: none;
}

.news-articles__content .guide-manual-section__demo-content .anotationText-1:after,
.news-articles__content .guide-manual-section__demo-content .anotationText-1:before {
    content: "";
	position: absolute;
}

.news-articles__content .guide-manual-section__demo-content .anotationText-1:before {
    top: 0;
    left: 0;
    border-top: 50px solid #ffd200;
    border-right: 50px solid transparent;
}

.news-articles__content .guide-manual-section__demo-content .anotationText-1:after {
	bottom: 0;
    right: 0;
    border-bottom: 50px solid #0f0f0f;
    border-left: 50px solid transparent;
}

.news-articles__content .guide-manual-section__demo-content .anotationText-1 .font-size-19{
	margin-bottom: 0;
	font-size: 19px!important;
}

.news-articles__content .guide-manual-section__demo-content .anotationText-1.mb-40.is-1 .list.circle--mr {
	margin-bottom: 10px;
}

.news-articles__content .guide-manual-section__demo-content .h2-new.h2 {
	z-index: 0;
}

.news-articles__content .guide-manual-section__demo-content .mb-0.font-18 {
	margin-top: 0;
}


.guide-manual-section__demo-content .t948__row {
	display: flex;
}

.guide-manual-section__demo-content .t948__col {
	position: relative;
	margin-bottom: 40px;
}

.guide-manual-section__demo-content .t-align_left {
	text-align: left;
}

.guide-manual-section__demo-content .t-col_3 {
	max-width: 260px;
}

.guide-manual-section__demo-content .t-col {
	display: inline;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	width: 100%;
}

.guide-manual-section__demo-content .t948__content {
	display: flex;
	height: 100%;
}

.guide-manual-section__demo-content .t948__textwrapper {
	background: #F2F2F2;
	padding: 40px 30px;
}

.guide-manual-section__demo-content .t948__circle {
	margin-bottom: 20px;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid #222;
}

.guide-manual-section__demo-content .t948__number {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #222;
}

.guide-manual-section__demo-content .t-name {
	font-family: 'Montserrat',Arial,sans-serif;
	font-weight: 600;
	color: #000;
}

.guide-manual-section__demo-content .t948__img {
	max-width: 100px;
	width: 100%;
	margin: 20px auto 0;
}
.guide-manual-section__demo-content .t-name_md {
	font-size: 20px;
	line-height: 1.35;
}

.guide-manual-section__demo-content .t948__title {
	margin-top: 20px;
}

.guide-manual-section__demo-content h4 {
	font-weight: 700;
	font-size: 20px!important;
	margin-bottom: 1.6rem!important;
	line-height: 1.2!important;
}

.guide-manual-section__demo-content .--grid-num {
	grid-gap: 0;
}

.guide-manual-section__demo-content  .u-news-compare__container-item .--title > div {
	margin-right: 15px;
}

.guide-manual-section__demo-content .u-news-compare__container-item .list > li {
	position: relative;
	padding-left: 1.5rem;
	font-size: 1rem;
	line-height: 1.3rem;
	margin-bottom: 0.75rem;
}
/*.guide-manual-section__demo-content .pr-lg-5, .px-lg-5, .guide-manual-section__demo-content .pl-lg-4, .px-lg-4{
    margin-left: 20px !important;
}*/
.guide-manual-section__demo-content .row .col-gutters-12::before, .guide-manual-section__demo-content .row .col-gutters-12::after{
    display: none;
}

.bg {
    background: #ffd200 !important;
}
.bg:before {
    border-top: 650px solid rgba(255, 255, 255, 0.17) !important;
}
.bg span{
    font: 20px/130% Montserrat,sans-serif;
}
.title-text{
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: 700;
    color: #0f0f0f;
    margin-top: 0;
    line-height: 140%;
}
.is-1{
    padding: 56px 80px;
}
.circle--mr li{
    margin: 0 0 16px;
}
.dark-block {
    color: #fff;
    background: #2d2d2d;
    height: 100%;
}
.dark-block h6 {
    margin-left: 0;
    font-size: 1rem;
}

.dark-block .circle--mr{
    padding: 0;
    margin: 0;
}
.dark-block .circle--mr li{
    margin: 0 0 8px;
    padding-left: 20px;
    list-style: none;
}
.dark-block .circle--mr li:before {
    content: "";
    display: block;
    position: absolute;
    background: #ffd200;
    width: .5rem;
    height: .5rem;
    -moz-border-radius: 3.125rem;
    -webkit-border-radius: 3.125rem;
    border-radius: 3.125rem;
    left: 35px;
    margin-top: 7px;
}
.dark-block .circle--mr li:after{
    display: none;
}
.row:before{
    display: none;
}
.anotationText-noBorder h5 b{
    font-size: 1.25rem;
}
.anotationText-noBorder .circle--mr {
    padding-left: 0px;
}
.anotationText-noBorder .circle--mr li {
    list-style: none;
}
.anotationText-noBorder .circle--mr li:after{
    display: none;
}
.anotationText-noBorder .circle--mr li:before {
    content: "";
    display: block;
    position: absolute;
    background: #ffd200;
    width: .5rem;
    height: .5rem;
    -moz-border-radius: 3.125rem;
    -webkit-border-radius: 3.125rem;
    border-radius: 3.125rem;
    left: 15px;
    margin-top: 7px;
}
.anotationText-1 .circle--mr li:after{
    background: none;
}
.bg-grey {
    background-color: #f3f3f9!important;
    background: #f3f3f9!important;
}
.--col-4 {
    grid-template-columns: 1.5fr repeat(3, 1fr);
}
.--arrow-sm{
    margin-top: 15px;
}
.u-tabgrid__grid-label{
    font-size: 14px !important;
}
/*.mb-0{
    padding-bottom: 21px !important;
}
/*News&Articles page END*/

/*Feedbacks Page*/

.feedbacks-page .guide-manual-section__demo-content h1 {
	font-weight: bold!important;
	color: #0f0f0f!important;
}

.feedbacks-page .guide-manual-section__demo-content h2,
.feedbacks-page .guide-manual-section__demo-content h3 {
	font-family: 'Montserrat', sans-serif !important;
	color: #0f0f0f!important;
}

.feedbacks-page code.language-markup {
	border: none!important;
}

/*Feedbacks END*/

@media (max-width: 1350px) {
    .guides .guides_cont {
        padding: 32px 0;
    }
}

@media (max-width: 1202px) {
    .guides {
        padding-right: 0;
	}
	/*Sidebar*/
	.main.content--page {
		padding-top: 62px;
	}
	/*Sidebar END*/
}

@media (max-width: 700px) {
 .guides_cont .colors {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.e_page > .title-2 {
    text-align: center;
}
.colors .row .coll {
    width: 33.33%;
}
.colors .row.palette {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}
.colors .row:first-child {
    justify-content: center;
}
.colors .row .coll.t_p16 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.colors .row .coll.t_p14.text {
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.colors .row.palette.no-color {
    display: none;
}
}

/*Sidebar*/
@media (max-width: 768px) {
	#body_cnt.container {
		padding-left: 15px;
	}
	.guides-sidebar {
		position: static;
		width: 100%;
	}
	.guides-sidebar__list {
		width: 100%;
	}
	.guides.manual-guides .guides_cont {
		margin-left: 0;
		width: 100%;
	}
}
/*Sidebar END*/

@media (min-width: 768px) {
    .mcob-main .manual-guides__wrap .row,
    .kladovoy-body .manual-guides__wrap .row {
        margin-left: -2rem;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .mcob-main .manual-guides__wrap .col-md-6,
    .kladovoy-body .manual-guides__wrap .col-md-6 {
        width: 50%;
        padding-left: 2rem;
    }
}
@media (min-width: 992px) {
    .guides {
        padding-right: 24px;
    }
    .guides .guides_left {
        width: 23%;
        padding-right: 24px;
    }
    .guides .guides_cont {
        width: 77%;
        padding: 32px 24px;
    }
    ul.guideLeftMenu li a {
        padding-left: 24px;
    }
}
@media (min-width: 1200px) {
    .guides {
        padding-right: 0;
    }
    .guides .guides_left {
        padding-right: 32px;
    }
    .guides .guides_cont {
        padding: 32px 32px;
    }
    ul.guideLeftMenu li a {
        padding-left: 32px;
    }
}
