.lds-dual-ring.hidden {
    display: none;
}

.lds-dual-ring {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid #ffd200;
    border-color: #ffd200 transparent #ffd200 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
}

#report_title {
    box-sizing: border-box;
    line-height: 1.3;
    color: #0f0f0f !important;
    margin-bottom: 2.13em;
    padding: 0 30px;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    background: url('../images/h2_bg.png') 0 18px repeat-x;
    clear: both;
}

#report_title span {
    display: inline-block;
    padding: 0 30px 0 30px !important;
    background: #fff;
    line-height: 32px !important;
    position: relative;
    margin-top: -4px;
    font-size: 36px !important;
}

.report_h3::after, #report_info::after {
    margin-left: 1.5rem;
}

::before, ::after {
    box-sizing: border-box;
}

.report_h3::after, .report_h3::before,
#report_info::after, #report_info::before {
    position: relative !important;
    flex: 1 !important;
    content: "";
    background-color: #ffd205;
    height: 3px;
    top: unset;
    margin-top: unset;
    min-width: 3rem;
    box-sizing: border-box;
}

.report_h3::before, #report_info::before {
    margin-right: 1.5rem;
    content: "";
    display: block;
    margin-top: 0;
    width: 100%;
    position: absolute;
    background-color: #ffd205;
    height: 3px;
    top: 50%;
    z-index: 1;
}

.report_h3, #report_info {
    line-height: 1.3;
    color: #0f0f0f !important;
    margin-top: 3.11em !important;
    display: flex;
    align-items: center;
    font-size: 18px !important;
    margin-bottom: 24px !important;
    background: 0 0 !important;
    padding: 0 !important;
    font-weight: 700 !important;
    text-align: center !important;
    text-transform: uppercase;
    position: relative;
    box-sizing: border-box;
    clear: both;
    border: 0;
    outline: 0;
}

.report_h3 span, #report_info span {
    padding: 0 34px !important;
    background-color: #fff !important;
    display: inline-block;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    line-height: 34px;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

#page p {
    padding: 0 34px !important;
    background-color: #fff !important;
    display: inline-block;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    line-height: 34px;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 16px;
}

#report_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    empty-cells: show;
    max-width: 80%;
    font-size: 22px;
    margin: auto;
}

td::after, th::after {
    margin-bottom: calc((.75 - 1.5) * .49em);
}

td::after, td::before, th::after, th::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
}

td::before, th::before {
    margin-top: calc((.75 - 1.5) * .49em);
}

td:first-child, th:first-child {
    padding-left: 0;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #eee;
}

th {
    vertical-align: bottom;
}

table caption, th {
    font-weight: 700;
    text-align: left;
}

td, th {
    color: inherit;
}

#details {
    margin: auto;
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
}

nav.tabs a.is-active::before {
    bottom: -1.5rem;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top: 10px solid #ffd200;
    top: auto;
    right: -10px;
    z-index: 2;
    width: 0;
    height: 0;
}

nav.tabs a.is-active {
    border: 5px solid #ffd200;
    background: #ffd200;
    color: #0f0f0f;
    text-decoration: none;
    position: relative;
    z-index: 1;
    -webkit-transition: none !important;
}

@media (max-width: 767px) {
    nav.tabs a.is-active::before {
        display: none;
    }

    section {
        border: 5px solid #f3f3f9;
        padding: 3rem 2rem 2rem;
        margin: 0 !important;
    }

    nav.tabs a {
        width: 100% !important;
    }

    .vulnerabilities .col-md-6, .u-promo-work-list__container .col-md-6,
    #default-tab .col-md-6 {
        float: none;
        max-width: 100% !important;
    }

    ymaps {
        height: 0 !important;
    }

    a#pdf_link {
        margin-right: 15px;
    }

    img.t503__img {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        width: 70px !important;
    }

    div.position-relative.mb-24 {
        margin-right: 1.5em !important;
        margin-left: 0.5em !important;
    }

    div.u-promo-work-list__container div.row {
        margin-left: 10px;
        margin-right: 10px;
    }

    .u-promo-work-list__container {
        margin-left: 0 !important;
        width: 100% !important;
    }
}

nav.tabs a {
    padding: .5rem 2rem;
    text-align: center;
    line-height: 140%;
    border-radius: 2px;
    margin-right: .3125rem;
    border: 5px solid #f3f3f9;
    background: #fff;
    color: #0f0f0f !important;
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
}

nav.tabs a:not(.is-active):hover {
    background: #FFFFFF;
}

nav.tabs a:hover {
    color: #0f0f0f !important;
}

section {
    border: 5px solid #f3f3f9;
    margin-top: -3rem;
    padding: 3rem 2rem 2rem;
}

section pre {
    border: 0 !important;
}

#details dt::after, #details h4::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 24px;
    left: 2px;
    top: 4px;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    background: #ffd200;
}

ul.reference li {
    padding-left: 2rem;
    background-image: url('../images/h1.svg');
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    margin: 0;
}

ul.reference {
    margin: 0;
    padding: 0;
}

.b-stripe.b-stripe_content_item-promo-lede.banner--sl {
    min-height: 450px;
    max-width: 1170px;
    width: 100%;
    overflow: hidden;
}

.etaps__v1 {
    padding: 2rem;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
}

.bg-grey {
    background: #f3f3f9 !important;
}

.container--etaps .title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffd200;
    bottom: -6px;
    left: 0;
}

.container--etaps .title {
    color: #0f0f0f;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
    text-transform: lowercase;
}

.efsol_goldUL {
    padding: 0;
    margin-left: 20px;
}

ul.efsol_goldUL li::before {
    content: "";
    display: block;
    position: absolute;
    background: #d0d4d9;
    width: 8px;
    height: 8px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -o-transform: skew(0);
    transform: skew(0);
    left: 0;
    margin-top: 10px;
}

ul.efsol_goldUL li {
    list-style-type: none;
    font-size: 14px;
    line-height: 1.75rem;
    margin-bottom: 10px;
}

.row::after {
    clear: both;
}

.vulnerabilities .row::before, .row::after {
    content: " ";
    display: table;
}

.vulnerabilities .col-md-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.--align-stretch {
    align-items: stretch;
}

.--align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.u-promo-work-list__inner {
    padding: 2.5rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
}

.u-promo-work-list__inner .--num {
    margin-right: 1rem;
}

.u-promo-work-list__inner .--text {
    line-height: 1.4;
    font-weight: 500;
}

.--bg-gray {
    background-color: #f3f3f9 !important;
}

.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    float: left;
    max-width: 45% !important;
}

.e_page section {
    border: 0;
    margin-top: 0;
}

.news-detail .b-stripe__in__1440 {
    background: transparent;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media (max-width: 801px) {
    .b-stripe.b-stripe_content_item-promo-lede.banner--sl {
        min-height: 350px;
    }
}

a#pdf_link {
    float: right;
    margin-right: 50px;
}

#rec262927501 input::-webkit-input-placeholder {
    color: #484848;
    opacity: 0.5;
}

#rec262927501 input::-moz-placeholder {
    color: #484848;
    opacity: 0.5;
}

#rec262927501 input:-moz-placeholder {
    color: #484848;
    opacity: 0.5;
}

#rec262927501 input:-ms-input-placeholder {
    color: #484848;
    opacity: 0.5;
}

#rec262927501 textarea::-webkit-input-placeholder {
    color: #484848;
    opacity: 0.5;
}

#rec262927501 textarea::-moz-placeholder {
    color: #484848;
    opacity: 0.5;
}

#rec262927501 textarea:-moz-placeholder {
    color: #484848;
    opacity: 0.5;
}

#rec262927501 textarea:-ms-input-placeholder {
    color: #484848;
    opacity: 0.5;
}

#rec262927501 .t-submit:hover {
    background-color: #f3f3f9 !important;
    color: #0f0f0f !important;
}

#rec262927501 .t-submit {
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.social-links {
    margin-top: 1rem;
    gap: .25rem;
}

.social-links__link {
    transition: all ease .24s;
    display: flex;
    max-width: 40px;
}

.social-links__link img {
    max-width: 40px;
}

.social-links__link:hover {
    transform: scale(.96);
}

#rec261841122 .t396__artboard {
    height: 40px;
    background-color: #f3f3f9;
    overflow: visible;
}

#rec261841122 .t396__filter {
    height: 40px;
}

#rec261841122 .t396__carrier {
    height: 40px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec261841122 .t396__artboard {
    }

    #rec261841122 .t396__filter {
    }

    #rec261841122 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1200px){
    #rec261841122 .tn-elem[data-elem-id="1608103051365"] {
        left: calc(50% - 600px + 350px) !important;
    }
}

#rec261841122 .tn-elem[data-elem-id="1608103051365"] {
    z-index: 1;
    top: -281px;
    left: calc(50% - 600px + 299px);
    width: 260px;
    height: 267px;
}

#rec261841122 .tn-elem[data-elem-id="1608103051365"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
}

#rec262690545 .t-btn:not(.t-animate_no-hover):hover {
    background-color: #0f0f0f !important;
    color: #ffd200 !important;
}

#rec262690545 .t-btn:not(.t-animate_no-hover) {
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#report_table a, .reference a {
    color: #D8222D;
}

#report_table a:hover, .reference a:hover {
    color: #0f0f0f;
    text-decoration: underline;
}

a#pdf_link {
    display: block;
    padding-right: 35px;
    height: 30px;
    background-image: url('../../images/download.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: right top;
    font-weight: bold;
    color: #D8222D;
}